<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <center>{% load staticfiles %}
    <h2><button type="submit" class='btn btn-default' value="Main"><a href='../main'>Back to main</a></button></h2>  
    <h1>Listing information:</h1>
    {{listing.name}} <br>
    {{listing.description}} <br>
    {{listing.owner}} <br>
    {{listing.date_created}} <br>
    {{listing.subcategory}} <br>
    {{listing.city}} <br>
<img src='/media/{{listing.picture}}'></center>

  </body>
</html>
